/* INSTALL FONTS */

@font-face {
    /*Install a font locally using Font Faces */
    font-family: 'Kreon-Regular';
    src: local('Kreon-Regular.ttf'), url('Kreon-Regular.ttf') format('truetype');
    /* or truetype*/
}

@font-face {
    /*Install a font locally using Font Faces */
    font-family: 'Walter-TurnCoat';
    src: local('Walter-TurnCoat.ttf'), url('Walter-TurnCoat.ttf') format('truetype');
    /* or truetype*/
}

body {
    /* Heading default text  */
    font-family: 'Walter-TurnCoat';
    background: url('../img/subtle_white_feathers.png') center center;
}

p {
    /*Default body text   */
    line-height: 1.2rem;
    font-size: 1.1rem;
    font-family: 'Kreon-Regular';
}


/*Helper Classes*/

.test-border {
    border: 1px solid black;
}

.bold-aqua {
    font-weight: 700;
    color: rgba(22, 215, 235, 1);
    text-shadow: 1px 1px black;
}

hr {
    text-align: center;
    width: 90%;
}


/*NAVIGATION*/

.nav {
    margin-bottom: 68px;
}

.nav-item a {
    margin-right: 20px;
    transition: 0.7s;
}

.navbar a {
    font-size: 1.1rem;
}

.navbar {
    padding: 0;
}

.nav-item a:hover {
    background: rgba(0, 0, 0, 0.9);
    transition: 0.7s;
    border-radius: 25%;
}

.brand-img {
    height: 60px;
    width: 60px;
    margin-left: 25px;
    margin-right: 20px;
    border: solid 1px black;
    border-radius: 50%;
    transition: 1s;
}

.brand-img:hover {
    transition: 1s;
    transform: scale(1.15);
}


/* HOME/ COVER  */

#Cover {
    height: 100%;
    padding: 5rem;
    background: url('../img/cover.jpg') center, center;
    background-size: cover;
    color: white;
    text-shadow: 1px 3px black;
    text-align: center;
}

.section-cover {
    padding: 6rem;
}

.head {
    font-size: 4rem;
    line-height: inherit;
}

.under-head {
    font-size: 3.5rem;
    line-height: inherit
}

.under-heading {
    padding-top: 20px;
    font-size: 1.3rem;
    line-height: inherit;
}

.section-cover .col-sm-12 {
    background-color: rgba(0, 0, 0, 0.33);
}


/* ABOUT  */

#About {
    padding: 5rem;
}

.profile-img {
    box-shadow: 0px 4px black;
    border: 1px solid black;
    border-radius: 50%;
    height: 200px;
    width: 250px;
    margin-bottom: 20px;
}

.head-about,
.title {
    font-size: 1.8rem;
}

.head-about {
    font-size: 2.2rem;
    padding-top: 15px;
    color: rgba(22, 215, 235, 1);
    text-shadow: 1px 2px black;
}

.title2 {
    font-size: 1.1rem;
    font-style: italic;
    padding: 0;
}

.about-objectives {
    background-color: white;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 2px 2px #d4d4d4;
}

.about-objectives p {
    font-style: italic;
}

.about {
    box-shadow: 2px 2px #d4d4d4;
    background-color: white;
}

.profile {
    margin-right: 25px;
    box-shadow: 2px 2px #d4d4d4;
    background-color: rgba(22, 215, 235, 0.4);
    text-align: center;
}


/* Projects  */

#Projects {
    padding: 5rem;
    text-align: center;
    background-color: white;
}

.section-projects .bold-aqua {
    font-size: 2.2rem;
}

.project-img {
    padding: 10px;
    transition: 0.6s;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

.project-img:hover {
    transition: 0.6s;
    transform: scale(0.8);
}

.section-projects h2 {
    padding: 1.5rem;
}

.test-border {
    margin-top: 10px;
    padding: 25px;
}


/* Skills  */


/* Contact  */


/* Footer  */


/* FOOTER */

footer {
    background-color: #222;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}

.social-links {
    list-style: none;
    float: right;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
    padding-right: 25px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    font-size: 160%;
    transition: 0.2s;
}

footer .fa {
    transition: 0.3s;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-google-plus-square:hover {
    color: #dd4b39;
}

.fa-instagram:hover {
    color: #517fa4;
}

.fa-twitter-square:hover {
    color: #00aced;
}

.fa-linkedin-square:hover {
    color: #007bb6;
}

.fa-github-square:hover {
    color: #6e5494;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 45px;
    font-size: 18px;
}

.fa-chevron-circle-up {
    margin-top: 35px;
    color: rgba(22, 215, 235, 0.5);
    transition: 0.2s;
}

.fa-chevron-circle-up:hover {
    color: rgba(22, 215, 235, 1);
    transition: 0.2s;
}


/* Change container width */

container {
    max-width: 1350px !important;
}