/* INSTALL FONTS */

@font-face {
    /*Install a font locally using Font Faces */
    font-family: 'Kreon-Regular';
    src: local('Kreon-Regular.ttf'), url('Kreon-Regular.ttf') format('truetype');
    /* or truetype*/
}

@font-face {
    /*Install a font locally using Font Faces */
    font-family: 'Walter-TurnCoat';
    src: local('Walter-TurnCoat.ttf'), url('Walter-TurnCoat.ttf') format('truetype');
    /* or truetype*/
}

body {
    /* Heading default text  */
    font-family: 'Montserrat';
    background: url('../img/subtle_white_feathers.png') center center;
}

p {
    /*Default body text   */
    line-height: 1.2rem;
    font-size: 1.1rem;
    font-family: 'Roboto';
}


/*Helper Classes*/

.test-border {
    border: 1px solid black;
}

.bold-aqua {
    font-weight: 700;
    color: rgba(22, 215, 235, 1);
    text-shadow: 1px 1px black;
}

hr {
    text-align: center;
    width: 90%;
}


/*NAVIGATION*/

.nav-item .nav-link {
    margin-right: 20px;
    transition: 0.7s;
    color: #fff;
}

.nav-item .nav-link:hover {
    background: rgba(0, 0, 0, 0.2);
    transition: 0.7s;
    border-bottom: white;
    border-radius: 15px;
}

.navbar a {
    font-size: 1.1rem;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 1rem;
}

.brand-img {
    height: 40px;
    width: 40px;
    margin-left: 25px;
    margin-right: 20px;
    border: solid 1px black;
    border-radius: 50%;
    transition: 1s;
}

.brand-img:hover {
    transition: 0.2s;
    transform: scale(1.15);
}


/* HOME/ COVER  */

#full-cover {
    background: url('../img/cover.jpg') center, center;
    background-size: cover;
    color: white;
}

#Cover-overlay {
    background-color: rgba(0, 0, 0, 0.25);
    background-size: cover;
}

#Cover {
    height: 100vh;
    padding: 16rem;
    text-shadow: 1px 2px black;
    text-align: center;
}

.cover-but {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.cover-button-contact {
    font-size: 2rem;
    margin-top: 3rem;
    padding: 0.8rem;
    color: white;
    border-radius: 25px;
    border: 2px solid #FDCD3B;
    transition: 0.8s;
}

.cover-button-contact:hover {
    transition: 0.8s;
    padding: 1.2rem;
    border-color: black;
    background-color: #F3CD3B;
}

.cover-btn i {
    transition: 0.4s;
    color: #d4d4d4;
}

.cover-btn {
    font-size: 1.5rem;
    position: relative;
    top: 80%;
    color: #d4d4d4;
}

.cover-btn-text {
    padding: 0 5px 5px 0;
    color: #d4d4d4;
    font-style: italic;
    font-size: 1.2rem;
    transition: 0.3s;
}

.cover-btn-text:hover {
    font-size: 1.3rem;
    transition: 0.3s;
}

.cover-btn-text:hover,
.cover-btn i:hover {
    color: white;
    transition: 0.3s;
}

.section-cover {}

.head {
    font-size: 4rem;
    line-height: inherit;
    font-weight: 800;
}

.under-head {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: inherit
}

.under-heading {
    padding-top: 20px;
    font-size: 1.3rem;
    line-height: inherit;
}

.section-cover .col-sm-12 {
    background-color: rgba(0, 0, 0, 0.33);
}


/* ABOUT  */

#About {
    padding: 5rem;
}

.profile-img {
    box-shadow: 0px 4px black;
    border: 1px solid black;
    border-radius: 50%;
    height: 200px;
    width: 250px;
    margin-bottom: 20px;
}

.head-about,
.title {
    padding: 5px;
    font-size: 1.8rem;
}

.head-about {
    text-align: center;
    font-size: 2rem;
    padding-top: 15px;
    color: rgba(22, 215, 235, 1);
    text-shadow: 1px 2px black;
}

.title2 {
    font-size: 1.1rem;
    font-style: italic;
    padding: 0;
}

.about-objectives {
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

.about-objectives ul {
    text-align: center;
}

.about-objectives p {
    font-style: italic;
}

.profile {
    margin-right: 25px;
    text-align: center;
}

.profile img:hover {
    transition: 0.3s;
    transform: scale(0.98);
}


/* Skills  */

#Skills {
    background-color: #56ceb4;
    padding-top: 4rem;
    padding-bottom: 3rem;
    text-align: center;
}

#Skills .fa {
    color: #FDCD3B;
}

.skills-head {
    font-size: 2.5rem;
    padding: 1rem;
    color: white;
    text-shadow: 1px 2px black;
}

.under-skills-head {
    color: white;
    font-style: italic;
    text-shadow: 0.5px 2px black;
    font-size: 1.3rem;
    padding-bottom: 2rem;
}

.skills-title {
    color: white;
    text-shadow: 1px 2px black;
    border-left: ;
    padding: 1.2rem;
    font-size: 2rem;
}

.skills-text {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: 5px;
}


/*More-Skills*/

#More-Skills {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#More-Skills .container {
    box-shadow: 1px 2px #d4d4d4;
    padding-bottom: 1.5rem;
}

.More-title {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 0.5rem;
}

.More-title2 {
    padding: 1.5rem;
    text-align: center;
}

.more-list {
    box-shadow
}

.more-skill {
    font-size: 1.2rem;
}


/* Parallax*/

#parallax-over {
    background-color: rgba(0, 0, 0, 0.25);
    background-size: cover;
}

.parallax {
    /* The image used */
    text-align: center;
    color: white;
    background-image: url("../img/parallax.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-contain {
    margin-top: 20%;
    height: 100%;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
}

.parallax-contain h2 {
    padding-top: 45px;
    font-size: 2.2rem;
    color: white;
    text-shadow: 1px 1px black;
}


/* Projects  */

.section-projects {
    padding: 3rem;
    text-align: center;
    background-color: white;
}

.section-projects .bold-aqua {
    font-size: 2.2rem;
    text-align: center;
}

.project-img {
    padding: 10px;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
    transition: 0.6s;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

.project-img:hover {
    transition: 0.6s;
    transform: scale(1.02);
    transition: 0.5s;
}

.section-projects h2 {
    padding: 1.5rem;
}

.test-border {
    margin-top: 10px;
    padding: 25px;
}

.padd {
    margin-top: 15px;
    position: relative;
    text-align: center;
}

.project-img {}

.padd .bold-aqua {
    font-size: 1.2rem;
    float: left;
}

.padd .project-title {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
}

.proj-under-title {
    font-size: 0.8rem;
    font-style: italic;
}

.padd a {
    /*Project Button */
    border-radius: 25px;
    padding: 4px;
    border: 1px solid black;
    color: black;
    font-size: 1rem;
    background-color: #FDCD3B;
    transition: 0.6s;
}

.padd a:hover,
.padd a i:hover {
    transition: 0.6s;
    padding: 8px;
    color: #FDCD3B;
    background-color: black;
}


/* Contact  */

#Contact {
    background-color: #FDCD3B;
    padding: 4rem;
    ;
    color: black;
    text-align: center;
}

.contact-title {
    font-size: 2rem;
    padding: 1rem;
}

.contact-under-title {
    padding: 5px;
    font-size: 1.2rem;
}


/* FOOTER */

footer {
    background-color: #222;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}

.social-links {
    list-style: none;
    float: right;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
    padding-right: 25px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    font-size: 160%;
    transition: 0.2s;
}

footer .fa {
    transition: 0.3s;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-google-plus-square:hover {
    color: #dd4b39;
}

.fa-instagram:hover {
    color: #517fa4;
}

.fa-twitter-square:hover {
    color: #00aced;
}

.fa-linkedin-square:hover {
    color: #007bb6;
}

.fa-github-square:hover {
    color: #6e5494;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 45px;
    font-size: 18px;
}

.fa-chevron-circle-up {
    margin-top: 35px;
    color: rgba(22, 215, 235, 0.5);
    transition: 0.2s;
}

.fa-chevron-circle-up:hover {
    color: rgba(22, 215, 235, 1);
    transition: 0.2s;
}


/* ANIMATIONS */

.js-wp-1,
.js-wp-2,
.js-wp-3,
.js-wp-4,
.js-wp-5,
.js-wp-6,
{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3s;
    opacity: 0;
}

.js-wp-1.animated,
.js-wp-2.animated,
.js-wp-3.animated,
.js-wp-4.animated,
.js-wp-5.animated,
.js-wp-6.animated {
    opacity: 1;
}


/* Change container width */

container {
    max-width: 1350px !important;
}


/* QUERIES*/

@media screen and (max-width:1680px) {
    .head {
        font-size: 5rem;
    }
    .under-head {
        font-size: 4rem;
    }
    .cover-button-contact {
        font-size: 2rem;
    }
    .cover-btn-text {
        margin: 0 auto;
        padding: 0;
        top: 0%;
        font-size: 1.5rem;
    }
}

@media screen and (max-width:1480px) {
    #Cover {
        padding: 8rem 12rem;
    }
    .head {
        font-size: 4rem;
    }
    .under-head {
        font-size: 3.5rem;
    }
    .cover-button-contact {
        font-size: 1.5rem;
    }
    .cover-btn-text {
        font-size: 1.3rem;
    }
}

@media screen and (max-width:1240px) {
    #Cover {
        padding: 12rem 12rem;
    }
    .head {
        font-size: 3rem;
    }
    .under-head {
        font-size: 3rem;
    }
    .cover-button-contact {
        font-size: 1.2rem;
        padding: 10px;
    }
    .cover-btn-text {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:1024px) {
    /*  IPAD */
    #Cover {
        padding: 10rem 12rem;
    }
}

@media screen and (max-width:980px) {
    #Cover {
        padding: 10rem;
    }
}

@media screen and (max-width:880px) {
    #Cover {
        padding: 8rem;
    }
}

@media screen and (max-width:768px) {
    #Cover {
        padding: 7rem 5rem;
    }
    .profile-img {
        height: 150px;
    }
}

@media screen and (max-width:490px) {
    #Cover {
        padding: 4rem;
    }
    .under-head {
        font-size: 2.5rem;
    }
    .head-about-text {
        font-size: 1.2rem;
    }
    .profile-img {
        height: 180px;
        width: 200px;
    }
    .footer p {
        font-size: 1rem;
    }
    .social-links li {}
}

@media screen and (max-width:380px) {
    #Cover {
        padding: 1rem;
    }
    .head {
        font-size: 2.3rem;
    }
    .under-head {
        font-size: 2rem;
    }
    .cover-button-contact,
    .cover-button-contact:hover {
        font-size: 1rem;
        padding: 7px;
    }
    .cover-btn-text,
    .cover-btn-text:hover {
        font-size: 0.8rem;
    }
    #About {
        padding: 1rem;
    }
    .profile-img {}
    .title,
    .title2 {
        font-size: 1.2rem;
    }
    .head-about {}
    .head-about-text {
        font-size: 1.1rem;
    }
    #Contact {
        padding: 1.5rem 1rem;
    }
    .social-links li {
        margin-right: 5px;
    }
    .social-links {
        margin: 0 auto;
        padding: 0 auto;
    }
}